<h1> Order </h1>
<div>
<ul class="list-group"  *ngFor="let product of products|productFilter:filterProduct">
    <li class="list-group-item">Name : {{product.productName|uppercase}}</li>
    <li class="list-group-item">Image :<img [src]="product.imageUrl"  [style.width.px]="imgWidth" *ngIf="showImage"/></li>
    <li class="list-group-item">Code :{{product.productCode|lowercase}}</li>
    <li class="list-group-item">Date : {{product.releaseDate}}</li>
    <li class="list-group-item">Price : {{product.price | currency:"INR"}}</li>
    <li class="list-group-item">StarRating :<star-ratings [rating]="product.starRating" ></star-ratings></li>
</ul>
</div>