<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">{{title}}</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                        Filter By {{filterProduct}}
                </div>
                <div class="col-md-4">
                        <input type="text" [(ngModel)] ="filterProduct"
                        placeholder="Enter your text..."/>
                </div>
            </div>
            <div class="row" *ngIf="products && products.length">
                <!-- Grid view using table tag  -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <button class="btn btn-success" (click)="toggleImage()">
                                        {{showImage?"Hide Image":"Show Image"}}
                                    </button>
                                    <button class="btn btn-success"(click)="toggleView()">
                                        {{isGridView?"List View":"Grid View"}}
                                    </button>
                                </th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Date</th>
                                <th>Price</th>
                                <th>StarRating</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="isGridView">
                            <tr *ngFor="let product of products|productFilter:filterProduct">
                                     <td><img [src]="product.imageUrl" *ngIf="showImage"/></td>
                                     <td>{{product.productName|uppercase}}</td>
                                     <td>{{product.productCode|lowercase}}</td>
                                     <td>{{product.releaseDate|date}}</td>
                                     <td>{{product.price|currency:"INR"}}</td>
                                     <td>{{product.starRating}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Grid view using table tag  ends here -->
                    <!-- List View -->
                    <div class="list-group" *ngIf="!isGridView">
                        <ul class="list-group"  *ngFor="let product of products|productFilter:filterProduct">
                                <li class="list-group-item">Name : {{product.productName|uppercase}}</li>
                                <li class="list-group-item">Image :<img [src]="product.imageUrl" *ngIf="showImage"/></li>
                                <li class="list-group-item">Code :{{product.productCode|lowercase}}</li>
                                <li class="list-group-item">Date : {{product.releaseDate}}</li>
                                <li class="list-group-item">Price : {{product.price | currency:"INR"}}</li>
                                <li class="list-group-item">StarRating :{{product.starRating}}</li>
                        </ul>
                    </div>
                    <!-- List View Ends here -->
                </div>
            </div>

        </div>
    </div>
</div>  